<div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" [src]="product.img"
          [alt]="product.name">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">{{ product.name }}</h4>
        <!--Text-->
        <p class="card-text">{{ product.description }}</p>
        
        <button type="button" class="btn btn-light-blue btn-md" (click)="AddToCart(product.id)">Add To Cart</button>

      </div>

    </div>
    <!-- Card -->
  </div>
